* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0f172a;
    color: white;
}

header {
    text-align: center;
    padding: 60px 20px;
    background: #1e293b;
}

header h1 {
    font-size: 40px;
}

section {
    padding: 50px 20px;
    max-width: 900px;
    margin: auto;
}

h2 {
    margin-bottom: 15px;
    color: #38bdf8;
}

.skills ul {
    list-style: none;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.skills li {
    background: #334155;
    padding: 10px 15px;
    border-radius: 5px;
}

.project-card {
    background: #1e293b;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.contact {
    text-align: center;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background: #38bdf8;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 20px;
    background: #020617;
}
